.fileItemPopup.nut-popup {
  background-color: #f9f9f9;
  padding: 40px 40px;
  box-sizing: border-box;
  .fileItem_header {
    display: grid;
    grid-template-columns: 100px auto;
    gap: 30px;
    align-items: center;
    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      object-fit: cover;
    }
    .fileItem_header_right > div {
      font-size: 30px;
      font-weight: 600;
      line-height: 50px;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .fileItem_body {
    margin-top: 50px;
    overflow-x: hidden;
    overflow-y: auto;
    .optionBox {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      // place-items: center;
      justify-items: center;
      gap: 25px;
      padding: 30px 10px;
      & > div {
        width: 100%;
        border-radius: 25px;
        border: 1px solid #ddd1d1;
        background-color: #f1f1f1;
        background-color: transparent;
        height: 170px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        color: #222224;
        color: #fff;
        svg {
          width: 60px;
          height: 60px;
          color: #fff !important;
        }
      }
      .optionBox_delete {
        color: red !important;
        svg {
          color: red !important;
        }
      }
    }
    .ipfs {
      border-radius: 25px;
      border: 1px solid #ddd1d1;
      //   background-color: #f1f1f1;
      background-color: transparent !important;
      color: #fff !important;
      p {
        display: grid;
        grid-template-columns: auto 100px;
        gap: 100px;
        align-items: center;
        border-bottom: 2px solid #fff;
        height: 100px;
        line-height: 100px;
        box-sizing: border-box;
        padding: 0px 15px;

        & > * {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 25px;
          color: #222224;
          color: #fff;
        }
        svg {
          height: 60px;
          width: 60px;
        }
      }
      p:last-child {
        border-bottom: 0px;
      }
    }
  }

  .nut-popup__close-icon {
    background-color: #ccccccc2;
    border-radius: 50%;
    color: #fff;
  }
  .fileItemDetail {
    margin-top: 60px;
    border-radius: 15px;
    border: 1px solid #cac9ce;
    overflow: hidden;
    .fileItemDetail_header {
      padding: 0px 20px;
      height: 70px;
      line-height: 70px;
      background-color: #cbcacf;
      font-weight: 600;
      font-size: 28px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 4px solid #adacb1;
      .flashlamp {
        display: flex;
        border-radius: 50%;
        border: 4px solid #5e5d62;
      }
    }
    .fileItemDetail_Body {
      padding: 20px 20px;
      border-bottom: 4px solid #adacb1;
      background-color: #dfdee3;
      & > div {
        height: 40px;
        line-height: 40px;
        font-weight: 600px;
        font-size: 28px;
      }
    }
    .fileItemDetail_bottom {
      background-color: #dfdee3;
      display: grid;
      padding: 0px 20px;
      grid-template-columns: repeat(5, 1fr);
      & > span {
        text-align: center;
        height: 60px;
        line-height: 60px;
        font-weight: 700px;
        font-size: 28px;
        position: relative;
      }
      & > span:not(:last-child)::before {
        display: inline-block;
        content: '';
        width: 3px;
        height: 60%;
        background-color: #cdccd1;
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
      }
      // & > span:last-child{
      //  border: 0px;
      // }
    }
  }
}

.fileUpdateIcon {
  position: absolute;
  bottom: 8px;
  left: 10px;
  width: 140px;
  height: 140px;
}
.type_check_pop {
  /* padding-top: 120px; */
  height: 450px;
}
.dialog_class {
  font-size: 30px;
  .nut-dialog__header {
    height: unset;
    font-size: 35px;
  }
  .nut-dialog__content {
    font-size: 30px;
  }
}
@media screen and (min-width: 500px) {
  .type_check_pop {
    /* padding-top: 120px; */
    height: unset;
  }
  .dialog_class {
    font-size: 30px;
    .nut-dialog__header {
      height: unset;
      font-size: 35px;
    }
    .nut-dialog__content {
      font-size: 30px;
    }
  }
}

.list_header {
  .nut-checkbox__icon {
    color: #4efeff !important;
  }
}
.card-body {
  .nut-button--primary {
    // background: var(--nut-button-primary-background-color, linear-gradient(235deg, #48eaec 0%, #31313d 100%));
    // background-image: linear-gradient(295deg, #aeff00 0%, #432f2b 100%) !important;
  }
}

.max_fileList_content {
  .boxtop {
    width: 100vw;
    display: flex;
    justify-content: space-between;
  }

  .bottom_ipfs_info {
    position: fixed;
    bottom: 100px;
    padding: 20px;
    background: #fff;
    width: 100%;
    box-sizing: border-box;
    svg {
      color: $main_blue;
    }
  }
  .file_list {
    height: calc(100vh - 310px);
    overflow: auto;
  }
  #txtContainer {
    color: #fff;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    max-height: calc(100% - 300px);
    overflow-y: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  .nut-custom-tour {
    .nut-popover {
      width: 100%;
    }
  }
  .file_Top {
    z-index: 9999;
  }
  .file_list {
    // height: calc(100% - 300px);
    background: #fff;
  }
  .nut-popover-content--bottom-center {
    background: $main_blue;
  }
  .tour-demo-custom-content {
    padding: 20px;
    background: $main_blue;
    color: #fff;
    clear: both;
    height: 100px;
    .tour_btn {
      float: right;
      height: 50px;
      margin-top: 10px;
      padding: 5px 10px;
      text-align: right;
    }
    &:after {
      display: inline-block;
      content: '';
      clear: both;
    }
  }
  .detail_over {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 10px;
    background: #000;
    box-sizing: border-box;
    // overflow: auto;
    z-index: 99;
    .detail_top {
      box-sizing: border-box;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 1rem;
      background: linear-gradient(180deg, #00000059, transparent);
      z-index: 99;
    }
    .middle_img {
      max-height: 100%;
      .nut-image {
        width: 100%;
        height: 100%;
      }
      .van-swipe {
        width: 100%;
        height: 100%;
        .van-swipe__track {
          align-items: center;
          width: 100% !important;
          img {
            // width: 100%;
            width: unset;
            max-width: 100%;
            margin: 0 auto;
          }
        }
        .van-image-preview__swipe-item {
          background: #000;
        }
      }
    }
    .bottom_action {
      position: fixed;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      height: 140px;
      background: linear-gradient(0deg, #00000059, transparent);

      margin-top: 20px;
      div {
        text-align: center;
        color: #fff;
      }
      svg {
        color: #fff;
        width: 80px;
        height: 80px;
      }
    }
  }
  .detail_back {
    width: 60px;
    height: 60px;
  }
  .top_back_box {
    display: flex;
    align-items: center;
    margin: 5px 0;
    .top_back::before {
      background-image: url('@/assets/arrow-left-max.svg');
      background-color: transparent !important;
    }
  }
  .top_back {
    margin: 0;
    color: $main_blue;
  }

  .top_title {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    color: #fff;
    text-align: left;
    width: 100%;
    display: inline-block;
    margin-left: 88px;
  }
  .check_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    color: #2e70ff;
    font-size: 30px;
    background: #fff;
    span {
      cursor: pointer;
    }
    .checked_num {
      color: #000;
      font-size: 35px;
      cursor: default;
    }
  }
  .fileList_content {
    box-sizing: border-box;
    height: 100%;
  }
  .list_header {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 20px;
    width: 100%;
    background: #fff;
    box-sizing: border-box;
    color: $primary-color-end;
    background: transparent;
    color: #fff;
    // transition: all 0.3s;
    span {
      font-size: 35px;
      font-weight: 700;
      line-height: 60px;
    }
    .triangle {
      margin: 10px;
      width: 40px;
      height: 40px;
      transition: all 0.3s;
    }
    .triangleDown {
      transform: rotate(180deg);
    }
  }

  .cate_title {
    padding: 20px;
    font-size: 40px;
  }
  .type_check_box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    .type_item {
      width: 33%;
      text-align: center;
      height: 150px;
      .svg_box {
        width: 80px;
        height: 80px;
        line-height: 80px;
        margin: 10px auto;
        text-align: center;
        border-radius: 20px;
        svg {
          width: 100%;
          height: 100%;
          vertical-align: middle;
        }
      }
      p {
        color: #051e56;
      }
    }
  }
  .search_bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    align-items: flex-start;
    box-sizing: border-box;
    // padding: 20px;
    .new_folder {
      width: 70px;
      height: 70px;
      margin-right: 10px;
      cursor: pointer;
    }

    .nut-searchbar {
      width: calc(100% - 0px);
      padding: 0;
      margin-bottom: 18px;
    }
    .nut-searchbar__search-input {
      --nut-searchbar-input-background: #f5f8fd;
    }
  }
  .card_list {
    .nut-infinite__container {
      width: 100%;
    }
    .nut-checkbox-group {
      display: grid;
      grid-gap: 5px;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      width: 100%;
    }
    .list_item {
      position: relative;
      box-sizing: border-box;
      flex-direction: column;
      padding: 0.5rem;
      width: 140px;
      border: none;
      border-radius: 10px;
      .mask {
        display: none;
        position: absolute;
        top: 0;
        z-index: 1;
        width: 100%;
        height: 100%;

        .itemChecked {
          display: block;
        }
        &.isChecking {
          display: block;
          height: 100%;
          cursor: pointer;
          .nut-checkbox {
            width: 100%;
            height: 100%;
            display: block;
          }
          .nut-icon {
            padding: 10px;
          }
        }

        .nut-checkbox {
          position: absolute;
          left: 0;
        }
        .nut-checkbox__input {
          position: absolute;
          right: 5px;
          top: 10px;
        }
        .nut-checkbox__label {
          display: none;
        }
      }
      .left_icon_box {
        width: 150px;
        height: 150px;
        img,
        svg {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .play_icon {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 2rem;
          height: 2rem;
        }
      }
      .name_box {
        width: 100%;
        margin: 0;
        text-align: center;
        p {
          font-size: 0.8rem !important;
          color: #fff !important;
        }
      }
      .right_radio {
        // position: absolute;
        // right: 10px;
        // top: 10px;
        // width: unset;
        // height: unset;
      }
    }
  }
  .list_item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 20px 20px 40px;
    border-top: 1px solid #efefef;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    .nut-image {
      width: 100%;
      height: 100%;
    }
    &:active {
      background: #cde3f5;
    }
    .left_checkMode {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 80px;
      background: #f1f1f1;
      border-radius: 50%;
      img {
        width: 50px !important;
        height: 50px !important;
        border-radius: 0.4rem;
      }
      &.is_checked {
        width: 60px;
        height: 60px;
        margin: 10px;
        background: #2e70ff;
      }
      .ok_icon {
        color: #fff;
      }
    }
    .type_icon {
      width: 80px;
      height: 80px;
    }
    .left_icon_box {
      position: relative;
      width: 80px;
      height: 80px;
      img,
      svg {
        width: 80px;
        height: 80px;
        border-radius: 0.3rem;
        vertical-align: middle;
      }
      .play_icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1.2rem;
        height: 1.2rem;
      }
    }
    .name_box {
      width: calc(100% - 500px);
      flex: 1;
      margin-left: 30px;
      margin-right: 30px;
      p:first-child {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
        font-size: 26px;
      }
      p:last-child {
        margin-top: 5px;
        color: #a7a7a7;
        font-size: 20px;
        text-align: left;
      }
    }
    .ipfs_info {
      display: flex;
      align-items: center;
      width: 100px;
      height: 80px;
      svg,
      img {
        object-fit: contain;
        height: 1.5rem;
        width: 1.5rem;
        margin-left: 20px;
        cursor: pointer;
      }
    }
    .right_div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 80px;
    }
    .right_radio {
      height: 80px;
      width: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      .nut-checkbox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-right: 0;
      }
      .nut-checkbox__label {
        display: none;
      }
    }
    .right_more {
      width: 50px;
      height: 50px;
      color: #ccc;
    }
  }

  .row_is_checked {
    background: #cde3f5;
    background: #3872e05e;
    .nut-checkbox__icon {
      color: #49ebed;
    }
  }

  @media screen and (min-width: 500px) {
    #txtContainer {
      color: #fff;
      width: 100%;
      padding: 0 20px;
      max-height: calc(100% - 300px);
      overflow-y: auto;
    }
    .file_list {
      height: calc(100vh - 180px);
      overflow: auto;
    }
    .tour-demo-custom-content {
      padding: 20px;
      height: 100px;
      .tour_btn {
        height: 50px;
        margin-top: 10px;
        padding: 5px 10px;
      }
    }
    .detail_over {
      padding: 30px 10px;
      .middle_img {
        max-height: calc(100vh - 500px);

        .nut-image {
          width: 100%;
          height: 100%;
        }
      }
      .bottom_action {
        height: 200px;
        margin-top: 20px;
        svg {
          color: #fff;
          width: 80px;
          height: 80px;
        }
      }
    }
    .detail_back {
      width: 60px;
      height: 60px;
    }
    .check_top {
      padding: 20px 20px;
      font-size: 30px;
      .checked_num {
        font-size: 35px;
      }
    }
    .list_header {
      padding: 10px;
      width: 100%;
      span {
        font-size: 24px;
        line-height: 30px;
      }
      .triangle {
        margin: 0 15px;
        width: 30px;
        height: 30px;
        transition: all 0.3s;
        cursor: pointer;
      }
    }
    .cate_title {
      padding: 20px;
      font-size: 40px;
    }
    .type_check_box {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      .type_item {
        width: 100px;
        text-align: center;
        height: 150px;
        .svg_box {
          width: 80px;
          height: 80px;
          line-height: 80px;
          margin: 10px auto;
          text-align: center;
          border-radius: 20px;
          svg {
            width: 100%;
            height: 100%;
            vertical-align: middle;
          }
        }
        p {
          color: #051e56;
        }
      }
    }
    .search_bar {
      padding: 10px 20px;
      .new_folder {
        width: 40px;
        height: 40px;
      }
      .nut-searchbar {
        width: calc(100% - 60px);
        padding: 0;
        margin-bottom: 18px;
      }

      .nut-searchbar__search-input {
        --nut-searchbar-input-height: 50px;
        --nut-icon-width: 30px;
        --nut-icon-height: 30px;
        --nut-icon-line-height: 30px;
      }
      .nut-searchbar__input-bar {
        font-size: 1.5rem;
      }
      .nut-icon-search2 {
        --nut-icon-width: 30px;
        --nut-icon-height: 30px;
        --nut-icon-line-height: 30px;
      }
    }
    .list_item {
      padding: 5px 20px 5px 40px;
      border-top: 1px solid #efefef;

      &:active,
      &:hover {
        background: #cde3f5;
      }
      .left_checkMode {
        width: 80px;
        height: 80px;
        img {
          width: 50px !important;
          height: 50px !important;
        }
        &.is_checked {
          width: 60px;
          height: 60px;
          margin: 10px;
          background: #2e70ff;
        }
      }
      .type_icon {
        width: 80px;
        height: 80px;
      }
      .left_icon_box {
        width: 80px;
        height: 80px;
        img {
          width: 80px;
          height: 80px;
        }
      }
      .name_box {
        width: calc(100% - 180px);
        margin-left: 30px;

        p:last-child {
          margin-top: 5px;
          color: #a7a7a7;
          font-size: 18px;
        }
      }
      .right_div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
      }
      .right_radio {
        height: 80px;
        width: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        .nut-checkbox {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          margin-right: 0;
        }
        .nut-checkbox__label {
          display: none;
        }
      }
      .right_more {
        width: 30px;
        height: 30px;
      }
    }
    .bottom_action {
      .nut-tabbar {
        --nut-tabbar-height: 60px;
      }
      .nut-tabbar-item {
        background-color: #2e70ff;
        color: #fff;
        cursor: pointer;
        svg {
          width: 30px;
          height: 30px;
        }
      }
      .nut-tabbar-item_icon-box_nav-word {
        color: #ffffff5c;
        --nut-tabbar-item-text-font-size: 1rem;
      }
    }
    .nut-popup {
      .nut-icon {
        min-height: 20px;
      }
    }
    .rename_box {
      margin-top: 40px;
      padding: 0 40px;
      :deep {
        .nut-cell {
          padding-left: 0;
          padding-right: 0;
          box-shadow: none;
          border: 1px solid #fff;
          border-radius: 10px;
          background: transparent !important;
        }
      }
      .nut-textarea {
        padding-left: 0;
        padding-right: 0;
      }
      p {
        text-align: center;
        margin-bottom: 30px;
      }
      svg {
        display: block;
        margin: 0 auto;
      }
      .nut-searchbar {
        margin: 0 auto;
        padding: 20px 0;
        --nut-searchbar-width: 600px;
        --nut-searchbar-input-height: 70px;
        border: 1px solid #fff;
        border-radius: 10px;
        background: transparent !important;
      }
      .nut-button {
        width: 300px;
        margin: 0 auto;
        margin-top: 40px;
        --nut-button-default-height: 70px;
        --nut-button-default-font-size: 1.5rem;
      }
      .nut-searchbar__search-input .nut-searchbar__input-bar {
        font-size: 1.5rem;
      }
      .nut-icon {
        --nut-icon-width: 30px;
        --nut-icon-height: 30px;
        --nut-icon-line-height: 30px;
      }
    }
    .move_box {
      .nut-cell {
        padding: 10px;
        --nut-cell-title-font: 1.5rem;
      }
      .top_back {
        margin-bottom: 10px;
        p {
          margin: 0 5px;
          font-size: 2rem;
        }
      }
      .file_list {
        height: 600px;
        overflow-y: auto;
        .list_item {
          width: 100%;
          box-sizing: border-box;
        }
        .left_icon_box {
          width: 80px;
          height: 80px;
          svg {
            width: 80px;
            height: 80px;
          }
        }
        .name_box {
          p {
            text-align: right;
            margin: 0;
            font-size: 30px;
          }
        }
      }
      .nut-button {
        --nut-button-default-font-size: 1rem;
      }
    }
    .share_info_box {
      margin-top: 30px;
      margin: 30px 120px 0;
      justify-content: space-around;
      div {
        min-width: 150px;
        margin-top: 20px;

        img,
        svg {
          width: 80px;
          height: 80px;
        }
      }
    }
    .custom-content {
      p {
        padding: 10px 20px;
        color: #909090;
        border-bottom: 1px solid #eee;
        svg {
          width: 60px;
          height: 60px;
          margin-right: 20px;
          vertical-align: middle;
        }
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          padding: 10px 20px;
          svg {
            width: 40px;
            height: 40px;
            margin-right: 15px;
            vertical-align: middle;
          }
          &:active,
          &:hover {
            background: #cde3f5;
          }
        }
      }
      .cancel_btn {
        padding: 10px;
        font-size: 24px;
      }
    }
    .van-dropdown-menu__bar {
      background-color: transparent;
      box-shadow: none;
    }
    .van-dropdown-menu__title:after {
      transform: rotate(-45deg) scale(0.8);
    }
    .van-dropdown-menu__title--down:after {
      transform: rotate(135deg) scale(0.8);
    }
    .van-dropdown-item__option {
      padding: 20px;
    }
  }
}
.list_card_top {
  border-radius: 0;
  width: 100% !important;
  font-style: normal;

  .local_title {
    white-space: nowrap;
    font-size: 24px;
    text-align: left;
    padding-left: 14px;
  }
  .file_items_groups {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
  .file_items {
    width: 44%;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    line-height: 30px;
    border-bottom: 0.5px dashed #6f7681;
    padding: 10px 5px;
    .file_name {
      font-size: 22px;
      text-align: left;
      font-style: normal;
    }
    .file_size {
      display: flex;
      font-size: 16px;

      font-style: normal;
      span {
        white-space: nowrap;
      }
      .file_number {
        font-weight: bold;
        font-weight: normal;
        font-size: 14px;
      }
      .file_space {
        margin-right: 8px;
        color: #fac858;
      }
    }
    .svg_box {
      text-align: center;
      margin-right: 6px;
      margin-right: 12px;

      svg {
        width: 40px;
        height: 40px;
        vertical-align: middle;
      }
    }
  }
}
