:root {
  --van-dropdown-menu-title-font-size: 1.5rem;
  --van-font-size-md: 1.5rem;
  --van-dropdown-menu-height: 2rem;
  .van-popup {
    background: transparent;
    // max-width: 750px;
    --van-padding-md: 0;
    -webkit-tap-highlight-color: #ccc;
  }
}
