html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
}
/* body {
  height: 100%;
} */
.nut-tabs__titles-item {
  background: #fff;
}
.nut-button--info {
  /* background: #5758a0; */
  /* background: rgba(181, 186, 202, 0.38) !important; */
  border-radius: 20px;
  background: #ff9e0d !important;
  background-image: linear-gradient(to right, #222, #222), linear-gradient(266deg, rgb(255, 158, 13), #2d91dc);
}
.top_back {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 50px;
  font-family: Hellofont FangHuaTi;
}
.top_back::before {
  position: absolute;
  left: 10px;
  content: '';
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  font-size: 50px;
  font-family: Hellofont FangHuaTi;
}
.top_back::before {
  content: '';
  width: 60px;
  height: 60px;
  margin-right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background-image: url('./arrow-left.svg');
  background-repeat: no-repeat;
  background-size: 40px;
  background-color: #fff;
  background-position: center;
}
@media screen and (min-width: 500px) {
  .top_back {
    height: 30px;
    cursor: pointer;
  }
  .top_back::before {
    content: '';
    width: 30px;
    height: 30px;
    margin-right: 40px;

    border-radius: 16px;
    background-size: 30px;
  }
}
.top_box {
  /* margin: 20px; */
  padding: 50px 10px 30px;
  border-radius: 20px;
  /* background: #5758a0;
  background: #7878ad3b;
  background: transparent; */
  /* background-image: linear-gradient(137deg, #4062bb 0%, #5200ae 74%); */
}

:root {
  --nut-button-info-background-color: #5758a0;
  --nut-button-border-radius: 20px;
}
.top_box {
  border-radius: 0px !important;
  /* margin-left: -4vw !important;
  margin-right: -4vw !important; */
  margin-top: 0 !important;
}
.info_box {
  .nut-cell-group__wrap {
    background: transparent !important;
  }
  .nut-cell-group__wrap .nut-cell {
    background: transparent !important;
  }
  .nut-cell__title,
  .nut-cell__value {
    color: #fff !important;
  }
  .nut-cell-group__title {
    color: #fff !important;
  }
}
.nut-empty__description {
  color: #fff !important;
}
.search_bar,
.nut-searchbar__search-input {
  background-color: transparent !important;
}
.search_bar .nut-searchbar {
  background: #000000d9;
  border: 1px solid #fff;
  border-radius: 10px;
  svg {
    color: #fff !important;
  }
}
.fileList_content {
  .file_list {
    background-color: transparent !important;
    color: #fff !important;
  }
  .list_item .name_box p:last-child {
    color: #fff !important;
  }
  .nut-checkbox__label {
    color: #fff;
  }
}
